<div class="card">
    <p-table
        #dt
        [value]="client"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
        [globalFilterFields]="['name', 'country.name', 'representative.name']"
    >
        <ng-template pTemplate="caption">
            <div
                class="flex flex-wrap gap-2 align-items-center justify-content-between"
            >
                <span
                    class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0"
                >
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="onGlobalFilter(dt, $event)"
                        placeholder="Global Search"
                        class="w-full"
                    />
                </span>
                <button
                    (click)="navigateToCreateClient()"
                    pButton
                    class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1"
                    icon="pi pi-user-plus"
                    label="Créer un client"
                ></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
              
                <th
                    pSortableColumn="email"
                    class="white-space-nowrap"
                    style="width: 25%"
                >
                    ID <p-sortIcon field="email"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="email"
                    class="white-space-nowrap"
                    style="width: 25%"
                >
                    email <p-sortIcon field="email"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="numeroTel"
                    class="white-space-nowrap"
                    style="width: 25%"
                >
                    numero de tel <p-sortIcon field="numeroTel"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="addresse"
                    class="white-space-nowrap"
                    style="width: 25%"
                >
                    addresse<p-sortIcon field="addresse"></p-sortIcon>
                </th>
                <th
                pSortableColumn="role"
                class="white-space-nowrap"
                style="width: 25%"
            >
                Remise TVA<p-sortIcon field="role"></p-sortIcon>
            </th>
            <th
                   
                   class="white-space-nowrap"
                   style="width: 25%"
               >
                   
                     </th>
             
               
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>
                
                    {{ user.id }}
                </td>
                <td>
                
                    {{ user.email }}
                </td>
                <td>
                
                    {{ user.numeroTel }}
                </td>
                <td>{{ user.addresse }}</td>
                <td>{{ user.remiseTVA }}</td>
                <td> 
                    <div class="flex">
                        <button
                            pButton
                            pRipple
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-success mr-2"
                            (click)=" getUser(user)"
                        ></button>
                        <button
                            pButton
                            pRipple
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-warning"
                            (click)="deleteWorker(user.id)"
                        ></button>
                    </div></td>
                 
            </tr>
         
        </ng-template>
    </p-table>
    <p-confirmDialog header="Confirmation" key="confirm1" icon="pi pi-exclamation-triangle" message="Are you sure you want to proceed?"
    [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
</div>
<p-dialog header="update Client" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '60vw'}" [breakpoints]="{'960px': '75vw'}">
   
<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">Update Client</span>
    <div class="grid">
      
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
              
                <div class="field mb-4 col-12">
                    <label for="email" class="font-medium text-900"
                        >email</label
                    >
                    <input id="email" type="text" pInputText placeholder="{{this.user?.email || ''}}" />
                </div>
                <div class="field mb-4 col-12">
                    <label for="userName" class="font-medium text-900"
                        >addresse</label
                    >
                    <input id="userName" type="text" pInputText  placeholder="{{this.user?.addresse || ''}}"/>
                </div>
                <div class="field mb-4 col-12">
                    <label for="phone" class="font-medium text-900"
                        >phone</label
                    >
                    <input id="phone" type="text" pInputText  placeholder="{{this.user?.numeroTel || ''}}"/>
                </div>
                <div class="field mb-4 col-12">
                    <label for="phone" class="font-medium text-900"
                        >taux de remise</label
                    >
                    <input id="tauxRemise" type="text" pInputText  placeholder="{{this.user?.remiseTVA || ''}}"/>
                </div>
      <div class="col-12">
                  
                    <p-messages [value]="msgs"></p-messages>
                </div>
            </div>
        </div>
    </div>
</div>

    
 <ng-template pTemplate="footer">

           <!--(click)="display=false"--> <button pButton icon="pi pi-check" (click)=" editWorker()" label="create" class="p-button-outlined"> </button>
    </ng-template>
</p-dialog>




